.btnNext {
  position: absolute;
  right: 0%;
  top: 45%;
  z-index: 100;
  background-color: white;
  border: 0px solid white;
  border-radius: 50%;
}

#rightArrow {
  width: 10px;
  background-color: white;
  border: 0px solid white;
  border-radius: 50%;
  transform: rotate(180deg);
}
