/* #EditorWrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#EditorWrapTop {
  width: 850px;
  display: flex;
  justify-content: space-between;
}

#selectOption {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b8bfc1;
}

#postTitle {
  width: 680px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b8bfc1;
} 

#postSubmit {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #c5e1fc;
  border: 1px solid #c5e1fc;
  border-radius: 5px;
  font-size: 20px;
}

#postSubmit:hover {
  background-color: blue;
} */

#post {
  padding: 50px 230px;
}

#postPageTitle {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

#postPageForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#postThumnailWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#postTitle,
#postThumbnail {
  font-size: 14px;
  font-weight: bold;
}

#postTitleInput,
#postThumnailInput {
  padding: 6px;
  border: 1px solid #dadde6;
  border-radius: 5px;
}

#postTitleInput {
  margin-bottom: 8px;
}

#postThumnailInput {
  width: 500px;
}

#postUploadBtn {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #278bd8;
  border: 1px solid white;
  border-radius: 10px;
}
