/* #listTopWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#listTopOne {
  display: flex;
  justify-content: space-between;
  color: #8a837e;
  font-weight: bold;
}

#listTopOneLeft,
#listTopOneRight {
  display: flex;
  gap: 15px;
}

#listTopOneRight:hover {
  cursor: pointer;
}

#listTopTwo {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #cbc8c6;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px solid #b8bfc1;
}

.listTopData {
  padding: 12px 0px;
  border-bottom: 1px solid #e1e0e0;
  font-size: 13px;
  cursor: pointer;
} */
